<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.dao.ExamRadioMapper" >
  <resultMap id="BaseResultMap" type="com.java.model.ExamRadio" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Exam_ID" property="examId" jdbcType="INTEGER" />
    <result column="Radio_ID" property="radioId" jdbcType="INTEGER" />
    <result column="Score" property="score" jdbcType="INTEGER" />
  </resultMap>
  
<sql id="get_where" >
    <where>
    	<if test="examId!=null and examId!=''">
	        	AND Exam_ID =#{examId,jdbcType=INTEGER}   
      </if>
    </where>
  </sql>
  <sql id="setpage">
	<if test="page!=null">
	    order by #{page.order,jdbcType=VARCHAR}
	    LIMIT #{page.sum,jdbcType=INTEGER}, #{page.pagesize,jdbcType=INTEGER}
    </if>
</sql>
<select id="Get" resultMap="BaseResultMap" parameterType="com.java.model.ExamRadio">
    select * from examradio
  	<include refid="get_where" />
    <include refid="setpage" />
    </select>
    <select id="GetCount"  parameterType="com.java.model.ExamRadio" resultType="java.lang.Integer">
    select count(*) 
    from examradio
    <include refid="get_where" />
  </select>


  <delete id="Del" parameterType="java.lang.Integer" >
    delete from examradio
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="Add" parameterType="com.java.model.ExamRadio" >
    insert into examradio 
    values (NULL, #{examId,jdbcType=INTEGER}, #{radioId,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER})
  </insert>
  
</mapper>